@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../font/pt_sans.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(../font/pt_sans_bold.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(../font/pt_sans_italic.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../font/pt_sans_bold_italic.woff) format('woff');
}
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(../font/patua_one.woff) format('woff');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(../font/yanone_kaffeesatz.woff) format('woff');
}

#nav_column_content, #hide_nav_link {
    display: block;
}

#show_nav_link {
    display: none;
}

.clear {
    clear: left;
}

#bm_generate ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#bm_generate .heading {
    font-weight: bold;
}

#bm_generate ul li {
    float: left;
}

#bm_generate .col0 {
    width: 20px;
    display: block;
}

#bm_generate .row {
    background-color: #f2f2f2;
    height: 22px;
    border-bottom: 1px solid white;
    width: 410px;
}

#bm_generate .sortable .col0 {
    background: transparent url(../images/sort.png) center center no-repeat;
    cursor: move;
}

#bm_generate .col1 {
    width: 80px;
}

#bm_generate .col1 input {
    width: 65px;
}

#bm_generate .col2 {
    width: 80px;
}

#bm_generate .col2 input {
    width: 65px;
}

#bm_generate .col3 {
    width: 200px;
}

#bm_generate .col3 input {
    width: 190px;
}

#bm_generate .del {
    width: 20px;
    padding: 0px 4px;
    background-color: #990000;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

#bm_generate .del:hover {
    background-color: #333333;
}

#add_row_link {
    padding: 20px;
    color: #0033cc;
    text-decoration: none;
    cursor: pointer;
}

#add_row_link:hover {
    text-decoration: underline;
}

#generate_btn {
    background-color: green;
    padding: 2px 8px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#generate_btn:hover {
    background-color: #0055cc;
}

#bookmarklet_link {
    margin-top: 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    width: 120px;
}

#bookmarklet_link a{
    font-size: 1em;
}
